*
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.page-left-menu {
    box-sizing: border-box;
    height: 100%;
    width: 10%;
    background: var(--dark-menu-background);
    border-right: 4px solid var(--light-border);
    float: left;
}

.page-wrap-content {
    background: white;
    height: 100%;
    width: 90%;
    padding: 0px;
    margin: 0px;
    float: left;
}

.page-center-content {
    height: 75%;
    margin-bottom: 0;
    background: var(--light-menu-background);
    overflow: auto;
    cursor: grab;
}

/* Hide scrollbar */
.page-center-content::-webkit-scrollbar {
    display: none;
  }

.page-bottom-content {
    box-sizing: border-box;
    margin-top: 0px;
    height: 25%;
    background: var(--light-menu-background);
    border-top: 4px solid var(--light-border);;
}

.model-img {
    display: block;
    margin: 0 auto;
    max-height: 420px;
    max-width: 600px;
    

    /* disable selection/dragging of image */
    -khtml-user-drag: none;
    -o-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
}

.console-text {
    display:inline-block;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 12px;
    margin: 5px;
}

.console-input {
    position:absolute;
    display:block;
    width:97%;
    height:10px;
    bottom: 4px;
    margin: 0 auto;
}