:root{
    --console-black: rgb(37,37,37);
    --console-white: rgb(224, 224, 224);

    --dark-menu-background: rgb(134, 134, 134);
    --light-menu-background: rgb(226, 226, 226);
    --light-border: azure;
    --code-font: "Lucida Console", "Courier New", monospace;

    --button-hover-border: rgb(56, 208, 255);

    --normal-font: Arial, sans-serif;
}